<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466661665851-0ir8tddvj1cl8dbp9f43vrk7i0880hs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466661665851-0ir8tddvj1cl8dbp9f43vrk7i0880hs0</string>
	<key>API_KEY</key>
	<string>AIzaSyDra3I9vjTUo0LqCK_xN8qybeLs8W2YlC8</string>
	<key>GCM_SENDER_ID</key>
	<string>466661665851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-afee1</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-afee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466661665851:ios:c2cd01e2d8c7ea1b6bc01e</string>
</dict>
</plist>